<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /gdocapi/public/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]

    RewriteCond %{HTTP:Authorization} ^(.+)$
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    SetEnvIf Origin "(.*)" ORIGIN=$1
    RequestHeader set Origin %{ORIGIN}e env=ORIGIN
</IfModule>